<mat-toolbar class="navbar" id="navbar">
  <span class="logo" id="logo">
  <img src="/dogIcon.png" alt="Dog Icon" class="logo-image"> JackVet
  </span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <button mat-button class="nav-button">About Us</button>
    <div class="dropdown">
      <button mat-button class="nav-button" [matMenuTriggerFor]="servicesMenu">Services</button>
      <mat-menu #servicesMenu="matMenu">
        <button mat-menu-item class="dropdown-item">Clinic Services</button>
        <button mat-menu-item class="dropdown-item">Adoptions</button>
      </mat-menu>
    </div>
    <button mat-button class="nav-button">Find us</button>
    <button mat-button class="nav-button">Contact Us</button>
  </nav>
</mat-toolbar>
<section class="wave-container">
  <div class="content">
    <h1>Do you like cats?</h1>
    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button>More Information</button>
  </div>
</section>


